*.o
.cproject
.project
nbproject
ExclusionRobots
Plataforma
dispositivo
iniciador
lanzador
net-idManager
net-receiver
net-sender
net-unwrapper
net-wrapper-activado
net-wrapper-armado
net-wrapper-dispositivo
net-wrapper-salida
robot1aParteArmado
robot1aParteSacado
robot2aParte
terminador

