broker
broker-receiver
broker-sender
.cproject
dispositivo
ExclusionRobots
ids.dat
iniciadorBroker
iniciadorCliente
iniciadorIdManager
lanzador
lanzadorCliente
nbproject
net-idManager
net-receiver
net-sender
net-unwrapper
net-wrapper-activado
net-wrapper-armado
net-wrapper-broker
net-wrapper-dispositivo
net-wrapper-idm
net-wrapper-salida
net-wrapper-syncMessage
*.o
Plataforma
.project
robot1aParteArmado
robot1aParteSacado
robot2aParte
terminador
